@media (max-width: 1599px) {
    .hero-cont1 {
        padding: 0 0 0 125px;
    }
}

@media (max-width: 1399px) {


}


@media (max-width: 1199px) {
    .hero-section {
        padding: 60px 0 60px;
        min-height: 370px;
    }
    .section-wrapper1 {
        background-size: 100% auto, 1200px auto !important;
    }

    .header-section-inner {
        height: 70px;
    }
    .hero-cont1 {
        padding: 0 0 0 111px;
    }


    .main-section {
        margin-top: 0;
        padding-top: 35px;
    }
    .main-section-inner {
        flex-wrap: wrap;
        justify-content: center;
        gap: 20px;
    }
    .main-m-part {
        width: 100%;
        order: -1;
        /* margin-bottom: 20px; */
    }
    .main-sidebar {
        width: calc(50% - 11px);
        max-width: 350px;
    }

    .prefoot-section {
        margin-top: 0px;
    }
}


@media (max-width: 991px) {
    .hero-section {
        
    }
    .hero-cont1 {
        padding: 0;
        justify-content: center;
        background: rgba(0, 0, 0, 0.5);
        padding: 20px;
    }
    .hero-cont1 .single-cont .image {
        width: 30px;
        margin-right: 10px;
    }
    .hero-cont1 .single-cont .txt-c h3 {
        font-size: 19px;
        margin: 0 0 1px;
    }
    .hero-cont1 .single-cont {
        margin-right: 50px;
    }
    .header-section-inner {
        height: 55px;
    }


    .prefoot-section {
        padding: 30px 0 25px;
    }
    .pre-foot-menu > ul {
        flex-wrap: wrap;
        justify-content: space-evenly;
    }
    .pre-foot-menu > ul > li {
        margin: 0 10px 0 0px;
        padding: 5px 10px;
    }
    .footer-section-inner {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .copy-right {
        margin: 10px 0 0;
        order: 2;
    }

    .footer-right {
        flex-direction: column;
        align-items: center;
    }
    .footer-section .design-by::after {
        display: none;
    }
    .footer-section .design-by {
        
    }
    .footer-section .design-by .tuora {
        margin: 12px 0px 10px;
    }
    .footer-section {
        
    }
    .footer-bottom__inner {
        flex-direction: column;
        align-items: center;
        gap: 15px;
    }
}


@media (max-width: 768px) {
    .main-sidebar {
        width: 100%;
    }


    .news-header {
        flex-direction: column;
    }
    .news-header h3 {
        font-size: 16px;
        margin: 0 0 15px;
    }
}


@media (max-width: 575px) {
    .hero-cont1 {
        margin: 0 -12px;
    }
    .hero-section {
        
    }
    .hero-content {
        width: 70%;
    }
    .hero-download-button {
        margin-top: 20px;
        width: 240px;
    }
    .hero-content .h1 {
        font-size: 32px;
    } 
    .section-wrapper1 {
        background-size: 100% auto, 850px auto !important;
    }
    .hero-section {
        padding: 40px 0 30px;
        min-height: initial;
    }


    .video-card .play-button {
        font-size: 30px;
    }
    .video-card .video-title {
        padding: 10px 13px;
        top: 0px;
    }
    .news-card .title {
        margin: 0 0px 30px;
        display: flex;
        align-items: center;
    }
    .news-card .sum-more {
        margin-top: 45px;
        padding: 8px 8px 9px 12px;
    }
    .news-card .title h3 {
        
    }
    .news-card .title .news-title-update-button {
        margin-right: 15px;
        position: relative;
        z-index: 1;
    }


    .news-card .content {
        margin: 0;
    }
}


@media (max-width: 390px) {
    .hero-section {
        
    }
    .hero-cont1 {
        padding: 12px 12px;
    }
    
    .news-nav > ul > li {
        margin-right: 15px;
    }
    .news-header h3 {
        margin: 0 0 10px;
    }
    .news-section {
    }


    .form-box {
        padding: 25px 30px;
    }
    .box-comm-title {
        padding: 20px 20px;
    }
    .plr-table {
        --sd-space: 12px;
    }

    .footer-bottom-logos .img-1 {
        width: 35px;
    }
    .footer-bottom-logos .img-2 {
        width: 131px;
        margin-left: 15px;
    }


    .hero-content {
        width: 80%;
    }
    .update-card .update-content-title h2 {
        font-size: 24px;
    }
    .news-section-inner {
        padding: 35px 15px 23px;
    }
}
