@media (max-width: 1599px) {
    .hero-cont1 {
        padding: 0 0 0 125px;
    }
}

@media (max-width: 1399px) {


}


@media (max-width: 1199px) {
    .hero-section {
        height: 550px;
        padding: 370px 0 0;
    }

    .header-section-inner {
        height: 70px;
    }
    .hero-cont1 {
        padding: 0 0 0 111px;
    }


    .main-section {
        margin-top: 0;
        padding-top: 35px;
    }
    .main-section-inner {
        flex-wrap: wrap;
    }
    .main-m-part {
        width: 100%;
        order: -1;
    }
    .main-sidebar {
        width: calc(50% - 11px);
    }
}


@media (max-width: 991px) {
    .hero-section {
        height: 360px;
        padding: 280px 0 0;
    }
    .hero-cont1 {
        padding: 0;
        justify-content: center;
        background: rgba(0, 0, 0, 0.5);
        padding: 20px;
    }
    .hero-cont1 .single-cont .image {
        width: 30px;
        margin-right: 10px;
    }
    .hero-cont1 .single-cont .txt-c h3 {
        font-size: 19px;
        margin: 0 0 1px;
    }
    .hero-cont1 .single-cont {
        margin-right: 50px;
    }
    .header-section-inner {
        height: 55px;
    }


    .prefoot-section {
        padding: 30px 0 25px;
    }
    .pre-foot-menu > ul {
        flex-wrap: wrap;
        justify-content: space-evenly;
    }
    .pre-foot-menu > ul > li {
        margin: 0 10px 0 0px;
        padding: 5px 10px;
    }
    .footer-section-inner {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .copy-right {
        margin: 10px 0 0;
        order: 2;
    }

    .footer-right {
        flex-direction: column;
        align-items: center;
    }
    .footer-section .design-by::after {
        display: none;
    }
    .footer-section .design-by {
        padding-left: 0;
        margin-left: 0;
        flex-direction: column;
        align-items: center;
    }
    .footer-section .design-by .tuora {
        margin: 12px 0px 10px;
    }
    .footer-section {
        padding: 15px 0 25px;
    }
}


@media (max-width: 768px) {
    .main-sidebar {
        width: 100%;
    }


    .news-header {
        flex-direction: column;
    }
    .news-header h3 {
        font-size: 16px;
        margin: 0 0 15px;
    }
}


@media (max-width: 575px) {
    .hero-cont1 {
        margin: 0 -12px;
    }
    .hero-section {
        height: 297px;
        padding: 226px 0 0;
    }
    .hero-cont1 {
        padding: 15px 12px;
    }


    .video-card .play-button {
        font-size: 30px;
    }
    .video-card .video-title {
        padding: 10px 13px;
        top: 0px;
    }
    .news-card .title {
        padding: 16px 12px;
        flex-direction: column;
    }
    .news-card .title h3 {
        margin: 0px 0 8px;
    }


    .hero-cont1 {
        background: rgba(0, 0, 0, 0.7);
    }
}


@media (max-width: 390px) {
    .hero-section {
        height: 230px;
        padding: 165px 0 0;
    }
    .hero-cont1 {
        padding: 12px 12px;
    }
    
    .news-nav > ul > li {
        margin-right: 15px;
    }
    .news-header h3 {
        margin: 0 0 10px;
    }
    .news-section {
        padding: 30px 12px;
    }


    .form-box {
        padding: 25px 30px;
    }
    .box-comm-title {
        padding: 20px 20px;
    }
    .plr-table {
        --sd-space: 12px;
    }
}
